* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  width: 100%;
  background: #dedede;
}

.app {
  width: 60vw;
  margin: 0 auto;
}

/* Formulario */

.form {
  width: 100%;
  height: 200px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

.form input {
  width: 80%;
  height: 50px;
  border: none;
  border-radius: 4px;
  text-indent: 10px;
}

.form button {
  width: 18%;
  height: 50px;
  cursor: pointer;
  background: #ff8400;
  color: white;
  font-weight: bold;
  border-radius: 4px;
  border: none;
  transition: all 0.4s;
}

.form button:hover {
  background: #ff8400a1;
}

/* Tarefas */

.tasks {
  width: 100%;
}

.task {
  width: 100%;
  height: 50px;
  background: #fff;
  border-radius: 0.25rem;
  margin-bottom: 0.625rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0px 15px;
}

.task button {
  border: none;
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: all 0.4s;
}

.task button:hover {
  background: red;
  color: white;
}
